@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  /* Background Image */
  background-image: url(img/space.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 0.5rem;
}

img.default {
  max-width: 100%;
  max-height: 80vh;
}
